<h1>KarmaVille's Most Famous</h1>
<div class="pagination">
  <ul>
    <% if current_page > 1 %>
      <li><a href="/?page=<%= current_page - 1 %>">Prev</a></li>
    <% end %>

    <% if current_page > 2 %>
      <li><a href="/?page=<%= current_page - 2 %>"><%= current_page - 2 %></a></li>
    <% end %>

    <% if current_page > 1 %>
      <li><a href="/?page=<%= current_page - 1 %>"><%= current_page - 1 %></a></li>
    <% end %>

    <li class="disabled"><a href="#"><%= current_page %></a></li>

    <% if current_page < 1999 %>
      <li><a href="/?page=<%= current_page + 1 %>"><%= current_page + 1%></a></li>
    <% end %>

    <% if current_page < 1998 %>
      <li><a href="/?page=<%= current_page + 2 %>"><%= current_page + 2%></a></li>
    <% end %>

    <% if current_page < 1999 %>
      <li><a href="/?page=<%= current_page + 1 %>">Next</a></li>
    <% end %>

  </ul>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>Karma</th>
    <th>Name</th>
    <th>Username</th>
    <th>Email</th>
  </tr>
  <% benchmark("Showing user row partial") do %>
    <% @users.each do |user| %>
      <%= render 'user_row', :user => user %>
    <% end %>
  <% end %>
</table>
